.profile__avatar-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5) url('../../../images/edit-icon.svg') center no-repeat;
  background-size: 30%;
  opacity: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s;
}
 
.profile__image:hover .profile__avatar-edit-button {
  opacity: 1;
}